<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>PubHub</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PublishBookServlet</servlet-name>
    <servlet-class>examples.pubhub.servlets.PublishBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadBookServlet</servlet-name>
  	<servlet-class>examples.pubhub.servlets.DownloadBookServlet</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>BookPublishingServlet</servlet-name>
  	<servlet-class>examples.pubhub.servlets.BookPublishingServlet</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>UpdateBookServlet</servlet-name>
  	<servlet-class>examples.pubhub.servlets.UpdateBookServlet</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>ViewBookDetailsServlet</servlet-name>
  	<servlet-class>examples.pubhub.servlets.ViewBookDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TagBookServlet</servlet-name>
  	<servlet-class>examples.pubhub.servlets.TagBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishBookServlet</servlet-name>
    <url-pattern>/PublishBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadBookServlet</servlet-name>
    <url-pattern>/DownloadBook</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>BookPublishServlet</servlet-name>
    <url-pattern>/BookPublish</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/UpdateBook</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ViewBookDetailsServlet</servlet-name>
    <url-pattern>/ViewBookDetails</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/notFoundError.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>