<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>PubHub</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>BookPublishingServlet</servlet-name>
  	<servlet-class>example.pubhub.servlets.BookPublishingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BookPublishingServlet</servlet-name>
  	<url-pattern>/BookPublishing</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DownloadBookServlet</servlet-name>
  	<servlet-class>example.pubhub.servlets.DownloadBoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DownloadBookServlet</servlet-name>
  	<url-pattern>/DownloadBook</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PublishBookServlet</servlet-name>
  	<servlet-class>example.pubhub.servlets.PublishBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublishBookServlet</servlet-name>
  	<url-pattern>/PublishBook</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TagBookServlet</servlet-name>
  	<servlet-class>example.pubhub.servlets.TagBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 <servlet-name>TagBookServlet</servlet-name>
  	<url-pattern>/TagBook</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>UpdateBookServlet</servlet-name>
  	<servlet-class>example.pubhub.servlets.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateBookServlet</servlet-name>
  	<url-pattern>/UpdateBook</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ViewBookDetailsServlet</servlet-name>
  	<servlet-class>example.pubhub.servlets.ViewBookDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewBookDetailsServlet</servlet-name>
  	<url-pattern>/ViewBookDetails</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ViewBookTagsServlet</servlet-name>
  	<servlet-class>example.pubhub.servlets.ViewBookTagsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewBookTagsServlet</servlet-name>
  	<url-pattern>/ViewBookTags</url-pattern>
  </servlet-mapping>
</web-app>